@model Boards.WebApp.ViewModels.DefaultViewModel
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Boards by Margi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/img/icone.png">
    <partial name="Partials/_Scripts.cshtml" />
</head>
<body>
    <div id="headerApp">
        <transition name="fade">
            <div v-if="show" class="text-center">
                <div class="space-100"></div>
                <a class="button-menu hidden" href="#" id="loader"><ion-icon class="loader" name="sync-outline"></ion-icon></a>
                <div class="header text-center">
                    
                </div>
            </div>
        </transition>
    </div>
    @RenderBody()

    <div id="footer">
        <transition name="fade">
            <div v-if="show" class="text-center">
                <br />
                <div class="space-50"></div>
                <p align="center">
                    Versão @Model.Versao<br />
                    <img src="~/img/brazil.png" width="30px" />
                </p>
            </div>
        </transition>
    </div>
    <script>
        var headerApp = new Vue({
            el: "#footer",
            data: {
                show: false
            },
            methods: {},
            mounted: function () {
                this.show = true;
            }
        });
    </script>
    <script>
        var headerApp = new Vue({
            el: "#headerApp",
            data: {
                show: false
            },
            methods: {},
            mounted: function () {
                this.show = true;
            }
        });
    </script>
</body>
</html>
