<div class="menu d-print-none">
    <a class="button-menu hidden" href="#" id="loader"><ion-icon class="loader" name="sync-outline"></ion-icon></a>
    <a class="button-menu" title="Administração" href="@Url.Action("Dashboard", "Admin")"><ion-icon name="cog"></ion-icon></a>
    <a class="button-menu text-danger" title="Sair" href="@Url.Action("Logout", "Admin")"><ion-icon name="exit"></ion-icon></a>

</div>
