<div class="menu">
    <a class="button-menu hidden" href="#" id="loader"><ion-icon class="loader" name="sync-outline"></ion-icon></a>
    <a class="button-menu" href="/" ><ion-icon name="finger-print-outline"></ion-icon></a>
</div>
